@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header a[class~="active"] {
  @apply bg-white text-speakers-corner-blue;
}
